@using udemyWeb1.Haberlesme;
@model List<Doktor>

@if (TempData["basarili"] != null)
{
    <h2 style="color:red">@TempData["basarili"]</h2>
}

<h1>Doktorlarımız</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>               
            </th>
            
            <th>
                Doktor Adı
            </th>
            <th>
                Bölümü
            </th>
            <th>
                Ünvanı
            </th>
            <th>
                Doğum Yılı
            </th>
            <th>
                Polikliniği
            </th>
            @if (User.IsInRole(UserRoles.Role_Admin))
            {
                <th>
                </th>
                <th>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach(var doktor in Model)
        {
            <tr>
                <td align="center" valign="middle">
                    <img src="@doktor.ResimUrl" style="border-radius:7px; border:1px solid #bbb9b9; max-width:145px;max-height:275px;"/>
                </td>
                
                <td align="center" valign="middle">@doktor.DoktorAdi</td>
                <td align="center" valign="middle">@doktor.Bolum</td>
                <td align="center" valign="middle">@doktor.Unvan</td>
                <td align="center" valign="middle">@doktor.DogumYili</td>
                <td align="center" valign="middle">@doktor.PoliklinikTuru.Ad </td>

                @if (User.IsInRole(UserRoles.Role_Admin))
                {
                    <td align="center" valign="middle">
                        <a asp-controller="Doktor" asp-action="EkleGuncelle" asp-route-id="@doktor.Id" type="button" class="btn btn-success" style="width:150px">Güncelle</a>
                    </td>
                    <td align="center" valign="middle">
                        <a asp-controller="Doktor" asp-action="Sil" asp-route-id="@doktor.Id" type="button" class="btn btn-danger" style="width:150px">Sil</a>
                </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (User.IsInRole(UserRoles.Role_Admin))
{
    <div class="row pt-3 pb3">
        <div>

            <a asp-controller="Doktor" asp-action="EkleGuncelle" class="btn btn-primary" type="button">Oluştur</a>
        </div>
    </div>
}

<br />
<br />
<br />

<!-- end contact section -->
<!-- info section -->
<section class="info_section ">
    <div class="container">
        <h4>
            İLETİŞİM ARAÇLARI
        </h4>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="info_items">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="">
                                <div class="item ">
                                    <div class="img-box ">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        Planet Hospital
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="">
                                <div class="item ">
                                    <div class="img-box ">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        +44 11 2233 4455
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="">
                                <div class="item ">
                                    <div class="img-box">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        planet-hospital@gmail.com
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-box">
        <h4>
            BİZİ TAKİP EDİN
        </h4>
        <div class="box">
            <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>



<!-- end info_section -->
<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayDateYear"></span> All Rights Reserved By
            <a href="https://html.design/">Selin-İkbal</a>
        </p>
    </div>
</footer>
<!-- footer section -->